.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: sticky; */
    /* font-family: 'Poppins', sans-serif; */
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    height: 80px;
    margin: 0%;
    top: 0;
    

    /* border-bottom: 0.5px solid grey; */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}

.logo {
    margin-left: 50px;
}

.nav1 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 700px;
}

.nav1 ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.button :hover {

    scale: 1.1;
    transition: 0.3s;
}

.button button {
    background-color: #A3C121;
    color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 50px;
    border: none;

}

.button {
    margin-right: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1422478091/photo/close-up-of-a-hands-on-a-laptop-keyboard.jpg?s=612x612&w=0&k=20&c=TNGJooImQwsqodIC8vZB4e0r60RN989t0H9lmBmz60Y=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    font-size: 24px;
    font-weight: 500;
    height: 600px;
    width: 100%;
}

.text h1 {
    color: transparent;
    font-size: 100px;
    -webkit-text-stroke: white 3px;
    margin-bottom: 20px;
}

.button1 button {
    background-color: #4068B6;
    color: white;
    padding: 15px;
}

.content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #ACAAA9;
    
    /* background-attachment: fixed; */
    margin-top: 50px;
    height: 600px;
    /* color: white; */
}

.text3 span {
    color: black;
    font-size: 50px;
    /* -webkit-text-stroke: white 3px; */
}

.text2 {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: left;
    margin-bottom: 150px;
    
}
.text3{
    margin-left: 200px;
}
.text2 p{
    font-size: 15px;
    color: black;
    /* margin-bottom: 50px; */
}
.img1 {
    
    width: 50%;
}

.logo1 img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0px 4px 6px -1px rgba(246, 243, 243, 0.3);
    border: 0.5px solid grey;
   
}

.logo1{
     display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-around; */
    align-items: center;
    /* text-align: center; */
    margin-left: 300px;
    gap: 50px;
}
.ourdoctor h1 {
    align-items: center;
    text-align: center;
    font-size: 50px;
    /* margin-right: 180px; */
    
}
.ourdoctor{
    height: 100px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: #F9F9F9;
}
.ourdoctors{
    display: flex;
    flex-direction: row; 
    height: 600px;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
     background-color: #F9F9F9;
     /* margin-top: 0%; */


}

.doctor1 doctor2 doctor3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: auto;
}
.n1 h4{
    font-size: 30px;
}

.latestnews{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-color: #F9F9F9;
   margin-top: 80px;
   
}

.ln1{
    height: 15%;
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.ln2{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 1000px;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 50px;
}

.new1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    /* width: 300px; */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.c4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* text-align: center;
    align-items: center; */
    margin-top: 20px;
    gap: 30px;
    /* margin-left: -30%; */
}

.lgc1{
    /* margin-left: -30%; */
    /* font-size: 15px; */
}

.makeappointment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #E5E5E5; */
    height: 700px;
    margin-top: 100px;
    margin-left: 150px;
    width: 1000px;
}
.dp5{
    
}
.appointment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
.form{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.form-group{
    dispaly: flex;
    flex-direction: column;
    width: 50%;    
}
input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid grey;
    padding-left: 10px;
}
.form-group select{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid grey;
    padding-left: 10px;
     background-color:#F9F9F9; 
}

.form-group input{
    /* width: 665px; */
    background-color:#F9F9F9; 
    /* height: 200px; */
}
.form-group1 input{
    width: 665px;
    background-color:#F9F9F9; ;
    /* height: 200px; */
}
.form-group2 textarea{
    width: 665px;
    height: 150px;
     background-color:#F9F9F9; 
}

.form button{
    width: 665px;
    height: 50px;
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 5px;
    font-size: 18px;

}  

.form button:hover {
   background-color: #A3C121;
    color: white;
    transform: rotate(360deg);
    transition: 0.1s;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 50px;
    height: 350px;
    width: 1000px;
    margin-left: 190px;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    border-radius:red;
    height: 300px;
    width: 300px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding-left: 30px;}

.newsinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    border-radius:red;
    height: 300px;
    width: 300px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    font-size: 30px;
}
.nn1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.openinginfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    border-radius:red;
    height: 300px;
    width: 300px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
/* font-size: 30px;} */}

.openinginfo p{
    margin-bottom: 100px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    text-align: center;
    align-items: center;
}
.r{
    text-align: center;
    align-items: center;
}
.l ul li{
    padding-left: 10px;

    display: inline-block;

}

